# Use find . -executable -type f >>.gitignore

./algorithms/DFS/binary_tree
./data_structures/Hash_Map/hash_map
./data_structures/Stack/main
./data_structures/Queue/queue
./data_structures/Heap/template
./data_structures/Binary_Tree/binary_tree
./data_structures/_templates/template
./data_structures/Vector/vector
./cpp_language/references/references
./cpp_language/c-d-tor_trivia/main
./cpp_language/const/const
./cpp_language/static/static
./cpp_language/up_and_down_casting/up_and_down_casting
./cpp_language/inheritance/multipleInheritance/multipleInheritance
./cpp_language/inheritance/basicInheritance/basicInheritance
./cpp_language/inheritance/different_types_of_inheritance/different_types_of_inheritance
./cpp_language/inheritance/_templates/template
./cpp_language/inheritance/virtualMethods/virtualMethods
./cpp_language/inheritance/diamond_problem/diamond_problem
./cpp_language/_templates/template
./cpp_language/enumsAndStructs/enumsAndStructs
./cpp_language/insertionSort/insertionSort
./cpp_language/friends/friends
./_unsorted/mergesort/mergesort
./_unsorted/boost/smart_pointers/SmartPointers
./_unsorted/boost/smart_pointers/smart_pointers
